.container-fluid {
    padding-top: 7vw;
    position: relative;
    z-index: -1;
}

@media all and (max-width: 650px) {
    /* Dashboard menu.....*/
    .vertical-tabs {
        padding: 0px;
        margin-top: -0.6vw;
        position: fixed;
        top: 0vw;
        padding-top: 39vh;
        height: 100vh;
        left: -50vw;
        background-color: rgba(21, 38, 72, 0.5);
        z-index: 20;
        width: 40vw;
        border-right: 1px solid white;
    }
    .vertical-tabs-li {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-left: none;
    }
    .vertical-tabs-li>li {
        clear: both;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-left: none;
    }
    .vertical-tabs-li>li>a {
        color: white;
    }
    .vertical-tabs-li>li:hover>a {
        background: rgba(21, 38, 72, 0.4);
        color: white;
        border: 1px solid #152648;
    }
    .actv>a {
        background: #152648;
    }
    .actv:hover {
        background: #152648;
        color: white;
    }
    .vertical-tabs-li>li>a {
        padding-top: 1.4vw;
        padding-bottom: 1.4vw;
        padding-left: 5%;
        border-radius: 0;
        margin-right: 0;
    }
    .arrow {
        width: 0;
        height: 0;
        border-top: 1vw solid transparent;
        border-bottom: 1vw solid transparent;
        position: absolute;
        right: -1vw;
        top: 30%;
        display: none;
        border-left: 1vw solid #152648;
    }
    .main-content h3 {
        color: #3db7ef;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        text-align: left;
        line-height: 1.5vw;
    }
    .main-content h4 {
        color: #152648;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 4vw;
        text-align: left;
        line-height: 1.5vw;
    }
    .header-hr {
        width: 10vw;
        margin-left: 0vw;
        ;
        border: 2px solid black;
        margin-top: 1vw;
    }
    .header-hrr {
        width: 15vw;
        margin-left: 0vw;
        ;
        border: 1px solid black;
        margin-top: 0vw;
    }
    .veil {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0px;
        left: 0px;
        display: none;
        height: 100vh;
        width: 100vw;
        z-index: 10;
    }
    .fix_top_left {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0px;
        border-right: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background: rgba(21, 38, 72, 0.8);
    }
    .fix_top {
        position: fixed;
        top: 0vw;
        right: 0;
    }
}

@media all and (min-width:651px) and (max-width: 1024px) {
    .vertical-tabs {
        padding: 0px;
        margin-top: -0.6vw;
        position: fixed;
        top: 0vw;
        padding-top: 32vh;
        height: 100vh;
        left: -50vw;
        background-color: rgba(21, 38, 72, 0.5);
        z-index: 20;
        width: 20vw;
        border-right: 1px solid white;
    }
    .vertical-tabs-li {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-left: none;
    }
    .vertical-tabs-li>li {
        clear: both;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-left: none;
    }
    .vertical-tabs-li>li>a {
        color: white;
    }
    .vertical-tabs-li>li:hover>a {
        background: rgba(21, 38, 72, 0.4);
        color: white;
        border: 1px solid #152648;
    }
    .actv>a {
        background: #152648;
    }
    .actv:hover {
        background: #152648;
        color: white;
    }
    .vertical-tabs-li>li>a {
        padding-top: 1.4vw;
        padding-bottom: 1.4vw;
        padding-left: 5%;
        border-radius: 0;
        margin-right: 0;
    }
    .arrow {
        width: 0;
        height: 0;
        border-top: 1vw solid transparent;
        border-bottom: 1vw solid transparent;
        position: absolute;
        right: -1vw;
        display: none;
        top: 30%;
        border-left: 1vw solid #152648;
    }
    .main-content h3 {
        color: #3db7ef;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 3vw;
        text-align: left;
        line-height: 1.5vw;
    }
    .main-content h4 {
        color: #152648;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 1.5vw;
        text-align: left;
        line-height: 1.5vw;
    }
    .header-hr {
        width: 6vw;
        margin-left: 0vw;
        ;
        border: 2px solid black;
        margin-top: 1vw;
    }
    .header-hrr {
        width: 6vw;
        margin-left: 0vw;
        ;
        border: 1px solid black;
        margin-top: 0vw;
    }
    .veil {
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0px;
        left: 0px;
        display: none;
        height: 100vh;
        width: 100vw;
        z-index: 10;
    }
    .fix_top_left {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0px;
        border-right: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background: rgba(21, 38, 72, 0.8);
    }
    .fix_top {
        position: fixed;
        top: 0vw;
        right: 0;
    }
}

@media all and (min-width:1025px) {
    .vertical-tabs {
        padding-left: 0;
        margin-top: -0.6vw;
        float: left;
        width: 16.6vw;
    }
    .vertical-tabs-li {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-left: none;
    }
    .vertical-tabs-li>li {
        clear: both;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-left: none;
    }
    .vertical-tabs-li>li:hover>a {
        background: rgba(21, 38, 72, 0.4);
        color: white;
        border: 1px solid #152648;
    }
    .actv>a {
        background: #152648;
        color: white;
    }
    .actv:hover {
        background: #152648;
        color: white;
    }
    .vertical-tabs-li>li>a {
        padding-top: 1.4vw;
        padding-bottom: 1.4vw;
        padding-left: 5%;
        border-radius: 0;
        margin-right: 0;
    }
    .arrow {
        width: 0;
        height: 0;
        border-top: 1vw solid transparent;
        border-bottom: 1vw solid transparent;
        position: absolute;
        right: -1vw;
        display: none;
        top: 30%;
        border-left: 1vw solid #152648;
    }
    .main-content h3 {
        color: #3db7ef;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 3vw;
        text-align: left;
        line-height: 1.5vw;
    }
    .main-content h4 {
        color: #152648;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 1.5vw;
        text-align: left;
        line-height: 1.5vw;
    }
    .header-hr {
        width: 6vw;
        margin-left: 0vw;
        ;
        border: 2px solid black;
        margin-top: 1vw;
    }
    .header-hrr {
        width: 6vw;
        margin-left: 0vw;
        border: 1px solid black;
        margin-top: 0vw;
    }
    .vertical_tabs_fix {
        position: fixed;
        top: 4.4vw;
    }
}