body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    z-index: -2;
}

.form-horizontal .control-label {
    text-align: left;
}

.homenav,
.homenav:hover {
    text-decoration: none !important;
    color: #e7e7e7;
    font-family: 'Roboto Condensed', sans-serif;
    transition: color 0.15s linear;
}

.homenav:hover {
    color: #3db7ef;
}

/* <-----------------------For mobile phones and iPhones------------------------------>*/

@media all and (max-width: 650px) {
    /*
		Set background to white;
		Set text color to blue;
	*/
    #editdetailssubmit {
        font-size: 3vw;
    }
    .homenav,
    .homenav:hover {
        text-decoration: none !important;
        color: #e7e7e7;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .header_custom {
        width: 100%;
        background-color: #3db7ef;
        position: relative;
        /*z-index:5;*/
    }
    /*
		Hide logo when width less than 900px;
	*/
    .header_custom:before,
    .header_custom:after {
        content: "";
        display: table;
    }
    .header_custom:after {
        clear: both;
    }
    .logo {
        display: none;
        background-color: white;
        width: 25vw;
        float: left;
        margin-left: -5vw;
        box-shadow: 5px 15px 10px 2px rgba(0, 0, 0, 0.25);
        -webkit-transform: skewX(-35deg);
        -moz-transform: skewX(-35deg);
        -o-transform: skewX(-35deg);
        transform: skewX(-35deg);
    }
    .logo-img {
        width: 18vw;
        float: right;
        margin-right: 1.8vw;
        -webkit-transform: skewX(35deg);
        -miz-transform: skewX(35deg);
        -o-transform: skewX(35deg);
        transform: skewX(35deg);
    }
    /*
		margin-top:0vw;
	*/
    .banner_custom {
        padding: 0px;
        margin-bottom: 0px;
    }
    /*
		Adding Padding...
	*/
    .banner-text {
        padding-top: 3.5vw;
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 4vw;
        text-align: center;
        line-height: 5vw;
    }
    /*
		Include MNNIT.png
	*/
    .banner-logo {
        max-width: 15vw;
        float: left;
        margin-left: 10vw;
        margin-top: 3vw;
    }
    .mid {
        font-size: 3.5vw;
    }
    .small {
        font-size: 3vw;
    }
    .xtreme-small {
        font-size: 3vw;
    }
    /* Expand navbar to full screen width ... */
    .navbar_custom {
        clear: both;
        float: right;
        width: 100vw;
        padding-left: 0px;
        background-color: #152648;
        color: #e7e7e7;
        font-size: 1.5vw;
    }
    .icon-bars-button {
        border: 1px solid gray;
        float: right;
        font-size: 3vw;
        padding: 2vw;
        margin: 1vw;
        border-radius: 1vw;
    }
    .navlist_custom {
        margin: 0px;
        float: right;
        clear: right;
        width: 100vw;
        display: none;
        padding-left: 20vw;
        background-color: rgba(21, 38, 72, 0.4);
        /*border : 3px solid red;
		height:5uw;*/
    }
    .navlist_custom:before,
    .navlist_custom:after {
        content: "";
        display: table;
    }
    .navlist_custom:after {
        clear: both;
    }
    /*
		width: > that for landscape
	*/
    .navel {
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
        padding-left: 0px;
        list-style: none;
        width: 60vw;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        cursor: pointer;
        border-bottom: 1px solid gray;
        -webkit-transition: color 0.15s linear;
        -moz-transition: color 0.15s linear;
        -o-transition: color 0.15s linear;
        transition: color 0.15s linear;
    }
    .navel:hover {
        color: #3db7ef;
        border-bottom: 2px solid #3db7ef;
    }
    /*
		CSS for extra breadcrum introduced at the beginning of the menu...
	*/
    .nav-last {
        display: none;
    }
    #show_left_menu_1,
    #show_left_menu_2 {
        /*z-index:30;*/
    }
    #show_left_menu_2 {
        float: left;
    }
    /*
		Reducing top margin...
	*/
    .jumbo {
        width: 100%;
        min-height: 55vw;
        background: url('../img/jumbo-small.jpg');
        background-size: cover;
        margin-top: 4.8vw;
    }
    .header-hr {
        width: 6vw;
        margin-left: 0;
        border: 2px solid black;
        margin-top: 0;
    }
    .main-row {
        padding: 3vw;
        position: relative;
        z-index: -1;
    }
    .notification-container {
        background: ;
    }
    .notification-container h3,
    .main-container h3 {
        color: #3db7ef;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 4vw;
        text-align: left;
        line-height: 1.5vw;
    }
    .notification-container .panel-heading {
        padding: 1vw;
        cursor: pointer;
        border-radius: 0;
        transition: all .3s linear;
    }
    .notification-container .panel-heading a {
        text-decoration: none;
        font-size: 3.5vw;
    }
    .notification-container .panel {
        border-radius: 0;
    }
    .notification-container .panel-heading:hover {
        background: #3db7ef;
        color: white;
    }
    .main-container {
        background: ;
    }
    .introduction p {
        font-size: 4vw;
        line-height: 5vw;
    }
    .introduction::first-letter {
        color: #152648;
        font-size: 6vw;
    }
    .custom_modal {
        width: 90%;
        margin: 5%;
    }
    object {
        height: 70vh;
    }
    .has-menu .glyphicon {
        padding-top: 0.2vw;
    }
    .has-menu>.menu {
        background-color: rgba(21, 38, 72, 0.8);
        padding: 0;
        margin-top: 2vw;
        width: 100%;
        list-style: none;
        color: white;
        display: none;
        border: 2px solid white;
        /*z-index:9999;*/
    }
    .has-menu .menu-item {
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
        padding-left: 0px;
        border: 1px solid gray;
        transition: color 0.15s linear;
    }
    .has-menu .menu-item:hover {
        color: #3db7ef;
    }
    button.fwidth {
        width: 100%;
        margin-top: 1vw;
    }
    /* No fix of position required in large screen while scrolling.*/
    .menu_fix_position_scroll {}
    .modal-content {
        width: 95%;
        border-radius: 0;
    }
    .login .btn-login,
    .registerBox .btn-register {
        font-size: 3vw;
    }
}

/* <-----------------------For tablets and iPads------------------------------>*/

@media all and (min-width:651px) and (max-width: 1024px) {
    /*
		Set background to white;
		Set text color to blue;
	*/
    .homenav,
    .homenav:hover {
        text-decoration: none !important;
        color: #e7e7e7;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .header_custom {
        width: 100%;
        background-color: #3db7ef;
    }
    /*
		Hide logo when width less than 900px;
	*/
    .header_custom:before,
    .header_custom:after {
        content: "";
        display: table;
    }
    .header_custom:after {
        clear: both;
    }
    .logo {
        display: none;
        background-color: white;
        width: 25vw;
        float: left;
        margin-left: -5vw;
        margin-top: 0px;
        box-shadow: 5px 15px 10px 2px rgba(0, 0, 0, 0.25);
        -webkit-transform: skewX(-35deg);
        -moz-transform: skewX(-35deg);
        -o-transform: skewX(-35deg);
        transform: skewX(-35deg);
    }
    .logo-img {
        width: 18vw;
        float: right;
        margin-top: 5px;
        margin-right: 1.8vw;
        -webkit-transform: skewX(35deg);
        -miz-transform: skewX(35deg);
        -o-transform: skewX(35deg);
        transform: skewX(35deg);
    }
    /*
		margin-top:0vw;
	*/
    .banner_custom {
        padding: 0px;
        margin-bottom: 0px;
    }
    /*
		Adding Padding...
	*/
    .banner-text {
        padding-top: 3.5vw;
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 1.8vw;
        text-align: center;
        line-height: 2vw;
    }
    /*
		Include MNNIT.png
	*/
    .banner-logo {
        max-width: 8vw;
        float: left;
        margin-left: 10vw;
    }
    .mid {
        font-size: 2vw;
    }
    .small {
        font-size: 1.5vw;
    }
    .xtreme-small {
        font-size: 1vw;
    }
    /* Expand navbar to full screen width ... */
    .icon-bars-button {
        display: none;
    }
    .navbar_custom {
        clear: both;
        float: right;
        width: 100vw;
        padding-left: 0px;
        background-color: #152648;
        color: #e7e7e7;
        font-size: 1.5vw;
    }
    .navlist_custom {
        margin: 0px;
    }
    .navlist_custom:before,
    .navlist_custom:after {
        content: "";
        display: table;
    }
    .navlist_custom:after {
        clear: both;
    }
    /*
		width: > that for landscape
	*/
    .navel {
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1.2vw;
        padding-bottom: 1.2vw;
        list-style: none;
        float: right;
        width: 12.8vw;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        cursor: pointer;
        border-right: 1px solid #e7e7e7;
        -webkit-transition: color 0.15s linear;
        -moz-transition: color 0.15s linear;
        -o-transition: color 0.15s linear;
        transition: color 0.15s linear;
    }
    .navel:hover {
        color: #3db7ef;
    }
    /*
		CSS for extra breadcrum introduced at the beginning of the menu...
	*/
    .nav-last {
        width: 0.6vw;
        padding-right: 3vw;
    }
    #show_left_menu_1,
    #show_left_menu_2 {
        /*z-index:30;*/
    }
    /*
		Reducing top margin...
	*/
    .jumbo {
        width: 100%;
        min-height: 28vw;
        background: url('../img/jumbo.png');
        background-size: cover;
        margin-top: 4.8vw;
    }
    .header-hr {
        width: 6vw;
        margin-left: 0;
        border: 2px solid black;
        margin-top: 0;
    }
    .main-row {
        padding: 3vw;
        position: relative;
        z-index: -1;
    }
    .notification-container {
        background: ;
    }
    .notification-container h3,
    .main-container h3 {
        color: #3db7ef;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 1.8vw;
        text-align: left;
        line-height: 2vw;
    }
    .notification-container .panel-heading {
        padding: 1vw;
        cursor: pointer;
        border-radius: 0;
        transition: all .3s linear;
    }
    .notification-container .panel-heading a {
        text-decoration: none;
    }
    .notification-container .panel {
        border-radius: 0;
    }
    .notification-container .panel-heading:hover {
        background: #3db7ef;
        color: white;
    }
    .main-container {
        background: ;
    }
    .introduction p {
        font-size: 1.5vw;
    }
    .introduction::first-letter {
        color: #152648;
        font-size: 3vw;
    }
    .custom_modal {
        width: 90%;
        margin: 5%;
    }
    object {
        height: 70vh;
    }
    .has-menu {
        position: relative;
        top: 0;
        left: 0;
    }
    .has-menu .glyphicon {
        padding-top: 0.2vw;
    }
    .has-menu>.menu {
        position: absolute;
        background-color: rgba(21, 38, 72, 0.8);
        top: 3.7vw;
        left: -4vw;
        padding: 0;
        width: 20vw;
        list-style: none;
        color: white;
        display: none;
        /*z-index:99999;*/
    }
    /* Fix of position required in medium screen while scrolling.*/
    .has-menu .menu-item {
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
        padding-left: 0px;
        border-bottom: 1px solid gray;
        transition: color 0.15s linear;
    }
    .has-menu .menu-item:hover {
        color: #3db7ef;
    }
    .has-menu :last-child {
        border: none;
    }
    button.fwidth {
        width: 60%;
        margin-top: 1vw;
        margin-left: 20%;
    }
    .fix_top {
        position: fixed;
        right: 0;
    }
}

/* <-----------------------For Desktops and above------------------------------>*/

@media all and (min-width: 1025px) {
    .homenav,
    .homenav:hover {
        text-decoration: none !important;
        color: #e7e7e7;
        font-family: 'Roboto Condensed', sans-serif;
        transition: color 0.15s linear;
    }
    .homenav:hover {
        color: #3db7ef;
    }
    .header_custom {
        width: 100%;
    }
    .logo {
        background-color: #3db7ef;
        width: 25vw;
        float: left;
        margin-left: -5vw;
        margin-top: 0px;
        box-shadow: 5px 15px 10px 2px rgba(0, 0, 0, 0.25);
        -webkit-transform: skewX(-35deg);
        -moz-transform: skewX(-35deg);
        -o-transform: skewX(-35deg);
        transform: skewX(-35deg);
    }
    .logo-img {
        width: 18vw;
        float: right;
        margin-top: 5px;
        margin-right: 1.8vw;
        -webkit-transform: skewX(35deg);
        -miz-transform: skewX(35deg);
        -o-transform: skewX(35deg);
        transform: skewX(35deg);
    }
    .banner_custom {
        padding: 0px;
        margin-bottom: 0px;
        margin-top: 2vw;
    }
    .banner-text {
        color: #3db7ef;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 1.8vw;
        text-align: center;
        line-height: 2vw;
    }
    .mid {
        font-size: 2vw;
    }
    .small {
        font-size: 1vw;
    }
    .xtreme-small {
        font-size: 1vw;
    }
    .icon-bars-button {
        display: none;
    }
    .navbar_custom {
        margin-top: -4.4vw;
        margin-right: -5.8vw;
        clear: both;
        float: right;
        width: 85vw;
        padding-right: 5vw;
        padding-left: 0px;
        background-color: #152648;
        color: #e7e7e7;
        font-size: 1.5vw;
        -webkit-transform: skewX(-35deg);
        -moz-transform: skewX(-35deg);
        -o-transform: skewX(-35deg);
        transform: skewX(-35deg);
    }
    .navlist_custom {
        margin: 0px;
    }
    .navlist_custom:before,
    .navlist_custom:after {
        content: "";
        display: table;
    }
    .navlist_custom:after {
        clear: both;
    }
    .navel {
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 1.2vw;
        padding-bottom: 1.2vw;
        list-style: none;
        float: right;
        width: 10.2vw;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        cursor: pointer;
        border-right: 1px solid #e7e7e7;
        -webkit-transform: skewX(35deg);
        -moz-transform: skewX(35deg);
        -o-transform: skewX(35deg);
        transform: skewX(35deg);
        transition: color 0.15s linear;
    }
    .banner-logo {
        display: none;
    }
    .nav-last {
        display: none;
    }
    .navel:hover {
        color: #3db7ef;
    }
    .jumbo {
        width: 100%;
        min-height: 28vw;
        background: url('../img/jumbo.png');
        background-size: cover;
        margin-top: 4.8vw;
    }
    .header-hr {
        width: 6vw;
        margin-left: 0;
        border: 2px solid black;
        margin-top: 0;
    }
    .main-row {
        padding: 3vw;
        position: relative;
        z-index: -1;
    }
    .notification-container {
        background: ;
    }
    .notification-container h3,
    .main-container h3 {
        color: #3db7ef;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 800;
        font-size: 1.8vw;
        text-align: left;
        line-height: 2vw;
    }
    .notification-container .panel-heading {
        padding: 1vw;
        cursor: pointer;
        border-radius: 0;
        transition: all .3s linear;
    }
    .notification-container .panel-heading a {
        text-decoration: none;
    }
    .notification-container .panel {
        border-radius: 0;
    }
    .notification-container .panel-heading:hover {
        background: #3db7ef;
        color: white;
    }
    .main-container {
        background: ;
    }
    .introduction p {
        font-size: 1.5vw;
    }
    .introduction::first-letter {
        color: #152648;
        font-size: 3vw;
    }
    .custom_modal {
        width: 95%;
        margin: 1%;
        margin-left: 2.5%;
    }
    .custom_modal .modal-header {
        background: #3db7ef;
        color: white;
        font-weight: 800;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .modal-header .close {
        color: white;
    }
    object {
        height: 80vh;
    }
    .modal-body h4 {
        color: #3db7ef;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 600;
        font-size: 1vw;
        text-align: left;
        line-height: 2vw;
    }
    .modal-content_hr {
        width: 6vw;
        margin-left: 0;
        border: 2px solid black;
        margin-top: 0;
    }
    .has-menu .glyphicon {
        padding-top: 0.2vw;
    }
    .has-menu {
        position: relative;
        top: 0;
        left: 0;
    }
    .has-menu>.menu {
        position: absolute;
        background-color: rgba(21, 38, 72, 0.8);
        top: 3.8vw;
        left: -5vw;
        padding: 0;
        width: 20vw;
        list-style: none;
        color: white;
        display: none;
        /*z-index:9999;*/
    }
    .has-menu .menu-item {
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
        padding-left: 0px;
        border-bottom: 1px solid gray;
        transition: color 0.15s linear;
    }
    .has-menu .menu-item:hover {
        color: #3db7ef;
    }
    .has-menu :last-child {
        border: none;
    }
    button.fwidth {
        width: 60%;
        margin-left: 20%;
        margin-top: 1vw;
    }
    .fix_top {
        position: fixed;
        top: 4.4vw;
        right: 0;
    }
    /* No fix of position required in large screen while scrolling.*/
    .menu_fix_position_scroll {}
}